/* style login page */

/* style form box */
form {
    height: 650px;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* headline with gradient underlining */
h1 {
    color: #f7f2ef;
    font-size: 45px;

    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 42px;
}

/* align input boxes underneath each other */
.inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* style input boxes */
input {
    height: 40px;
    width: 300px;
    margin: 15px;
    padding: 0px 20px;
    border-radius: 15px;
    border: none;
    background-color: #aba6a1;
    box-shadow: 2px 2px 4px #2f2e2c;
    color: #f7f2ef;
    font-size: 18px;
    transition: 0.5s;
}

/* hover effects on input boxes */
input:hover {
    background-color: #5e5955;
}

/* style for selected input box */
input:focus {
    outline: none;
    background-color: #5e5955;
    width: 330px;
}

/* color for placeholder text of input box */
input::placeholder {
    color: #2f2e2c;
}

/* style for login button */
button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

/* hover effects on login button */
button:hover {
    transform: scale(1.1);
    width: 200px;
}

/* remove outline on login button */
button:focus {
    outline: none;
}