footer {
  font-family: "Montserrat", sans-serif;
  color: #f7f2ef;
  height: 370px;
  background-color: #1a1818;
  color: #fff;
  padding: 20px;
  margin-bottom: 0;
}

/*damit mehrere reihen im footer gebaut werden können*/
.footer-row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

/*für die einzelnen elemente im footer-row*/
.footer-col {
  flex: 1;
  margin: 0 20px 0 0;
  text-align: center;
}


a {
  font-family: "Montserrat", sans-serif;
  color: #f7f2ef;
  text-decoration: none;
  line-height: 2.5;
}


.h1Footer {
  font-family: "Montserrat", sans-serif;
  color: #f7f2ef;
  color: #f7f2ef;
  font-size: 30px;
  font-weight: 600;
}

.h2Footer {
  font-family: "Montserrat", sans-serif;
  color: #f7f2ef;
  margin-top: 100px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

/* Settings all icons on the bottom */
.instagram {
  width: 32px;
  height: 32px;
  padding-left: 0px;
  margin-right: 2px;
  margin-bottom: -0.175px;
}

.x {
  width: 35px;
  height: 35px;
  margin-bottom: -1.25px;
}

.facebook {
  width: 27px;
  height: 27px;
  margin-bottom: 3.75px;
  margin-right: 1px;
}

.instagram:hover,
.x:hover,
.facebook:hover {
  transform: scale(1.2);
}

.zahlungsmethoden {
  width: auto;
  height: 20px;
}

.footer {
  font-family: "Montserrat", sans-serif;
  color: #f7f2ef;
  height: 410px;
  width: 100%;
  background-color: #1a1818;
  padding: 20px;
  margin-bottom: 0;
  z-index: -1;
  float: left;
  margin-top: 5%;
  position: relative;
}