/* Style About us */

/* Einstellungen für den About us container */
.AboutUsUeberschrift {
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 450;
    line-height: 40px;
}

.AboutUsContainer {
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-bottom: 100px;
    overflow-y: scroll;
    overflow-x: hidden;

    /* Hintergrundbild hinzufügen */
    background-image: url("../images/category images/hintergrund AboutUs.png");
    background-size: cover; /* Das Bild wird so skaliert, dass es den gesamten Container abdeckt */
    background-position: center; /* Positioniert das Bild in der Mitte des Containers */
    background-color: rgba(15, 15, 15, 500); 
}

/* img {
    width: 100%;
    z-index: -1;
    opacity: 50%;
} */

.heading {
    width: 50%;
    text-align: center;
    float: top;
    margin-left: 23%;
    margin-top: 200px;
    z-index: 1000;
    opacity: 1;
}

.we {
    width: 40%;
    text-align: justify;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}

.why {
    width: 40%;
    text-align: justify;
    float: right;
    margin-top: 28%;
    margin-right: 10%;  
}

.thank {
    width: 45%;
    text-align: center;
    float: inline-start;
    margin-left: 23%; 
    
}
