.Ueberschrift {
    font-weight: 700;
    font-size: 600;
}

.Container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 100px;
    padding: 10px 50px; 
    line-height: 2;
    background-color: #272626;
    border-radius: 15px; 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

/* AGB's */
.blocksatz {
    text-align: justify;
}


/* Klasse um den Text unter 1. + 2. usw. nach rechts zu verschieben */
.AGBtext {
    margin-left: 20px;
    margin-top: 0;
}

.AGBtext2 {
    margin-left: 32px;
}

/* Impressum */
/* Class to move the text under 1. + 2. etc. to the right */
.ImpressumText {
    margin-left: 20px;
    margin-top: 0;
}

/* Class to move the text under 1.1 etc. further to the right */
.ImpressumText2 {
    margin-left: 30px;
    margin-top: 0;
}

.blocksatz {
    text-align: justify;
}

/* Datenschutz */
/* Klasse um den Text unter 1. + 2. usw. nach rechts zu verschieben */
.DatenschutzText {
    margin-left: 20px;
    margin-top: 0;
}

/* Klasse um den Text unter 1.1 etc. weiter nach rechts zu verschieben */
.DatenschutzText2 {
    margin-left: 30px;
    margin-top: 0;
}


.bulletPoint {
    color: #f7f2ef;
}

.blocksatz {
    text-align: justify;
}