/* style form box */
form {
    height: 650px;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}

/* headline with gradient underlining */ /*wenn h1 aktviert ist, kollabiert der footer. problem suchen!*/
h1 {
    color: #f7f2ef;
    font-size: 45px;

    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 42px;
} 



/*align input boxes underneath each other*/
.inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* style input boxes */
input {
    height: 40px;
    width: 300px;
    padding: 0px 10px;
    border-radius: 15px;
    border: none;
    background-color: #aba6a1;
    box-shadow: 2px 2px 4px #2f2e2c;
    color: #f7f2ef;
    font-size: 18px;
    transition: 0.5s;
}

/* hover effects on input boxes */
input:hover {
    background-color: #5e5955;
}

/* style for selected input box */
input:focus {
    outline: none;
    background-color: #5e5955;
    width: 330px;
}

/* color for placeholder text of input box */
input::placeholder {
    color: #2f2e2c;
}

/* style for login button */
button {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    transition: width .5s;
}

/* hover effects on register button */
button:hover {
    cursor: pointer;
    width: 200px;
}

/* remove outline on register button */
button:focus {
    outline: none;
}

textarea {
    width: 300px;
}

label {
    margin-block: 20px;
}


