/* style Filter und Ergebnisse */
.filterBox {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #aba6a1;
    margin-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

.itemBox {
    height:fit-content;
    padding-top: 15px;
}

/* Select Box */
.customSelect {
  width: 100%;
}

/* Date style */
.twoSidedBox {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

/* checkboxes with categories style */
input[type="checkbox"] {
 margin-top: 7px; 
}

/* Toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .sliderRound{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
  }
  
  .sliderRound:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: -3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .sliderRound {
    background-color: aqua;
  }
  
  input:focus + .sliderRound {
    box-shadow: 0 0 1px aqua;
  }
  
  input:checked + .sliderRound:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }

/* Range slider */
input[type="range"] {
  width: 100%;
}

/* Result area: */
.resultBox {
    float: left;
    width: 70%;
    height: 100vh;
    background-color: #2f2e2c;
    margin-top: 80px;
}
.resultItemBox {
    float: left;
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 40px;
}