/* style registration page */

/* style form box */
form {
    float: left;
    height: 650px;
    width: 700px;
    border-radius: 10px;
    margin: auto;
    padding-top: 170px;

}

/* headline with gradient underlining */
h1 {
    text-align: center;
    margin-top: 100px;

    color: #f7f2ef;
    font-size: 45px;

    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-size: 50% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 42px;
}

/* align input boxes underneath each other */
.inputbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* style input boxes */
input {
    text-align: center;
    height: 40px;
    width: 300px;
    margin: 15px;
    padding: 0px 20px;
    border-radius: 15px;
    border: none;
    background-color: #aba6a1;
    box-shadow: 2px 2px 4px #2f2e2c;
    color: #f7f2ef;
    font-size: 18px;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

/* hover effects on input boxes */
input:hover {
    background-color: #5e5955;
}

/* style for selected input box */
input:focus {
    outline: none;
    background-color: #5e5955;
    width: 330px;
}

/* color for placeholder text of input box */
input::placeholder {
    color: #2f2e2c;
}

/* style for register button */
button {
    text-align: center ;
    margin-left: 39%;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

/* hover effects on register button */
button:hover {
    transform: scale(1.1);
    width: 200px;
}

/* remove outline on register button */
button:focus {
    outline: none;
}

.error {
    height: 35px;
    line-height: 35px;
    width: 450px;
    border-radius: 10px;
    margin: -25px auto -10px;
    background-color: #ffbaba;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    height: 35px;
    line-height: 35px;
    width: 350px;
    border-radius: 10px;
    margin: -25px auto -10px;
    background-color: #d3ffce;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textError {
    color: #a70000;
    font-size: 16px;
}

.textSuccess {
    color: #004b23;
    font-size: 16px;
}


/* style and hover animation for login link */
.linkHere {
    text-decoration: none;
    color: #004b23;
    position: relative;
}

.linkHere:hover {
    color: #004b23;
    font-weight: bold;
}

.linkHere::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #004b23;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.linkHere:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.gif1 {
    margin: 50px;
    margin-top: 210px;
    width: 45%;
    float: left;

}
.gif1 img {
    width: 100%;
}

.contentBox {
    height: 93vh;
    background-color: black;
}
