/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #F7F2EF;
    background-image: url(../images/Hintergrund.svg);
    background-size: 100%; 
    background-position: center; 
}

/* Header Styles */

header {
    background-color: #525252;
    padding: 0;
    margin-bottom: -2%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #F7F2EF;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.box {
    flex: 1;
    background-color: #525252;
    margin-right: 50px;
    color: #F7F2EF;
}

.box:last-child {
    margin-right: 0;
}

/* Main Content Styles */

main {
    padding: 0px;
    margin-top: -15px;
    width: 100%;
    height: 682px;
}

/* Homepage Styles */

.containerBookingform {
    display: flex;
    justify-content: center;
    padding: 5%;
    color: #F7F2EF;
    margin-top: 0px;
}

#booking-form {
    height: 150px;
    width: 100%;
    border-radius: 25px;
    background: rgba(14, 14, 14, 0.58);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F7F2EF;
}

#booking-form h2 {
    margin-bottom: 20px;
    margin-top: 5px;
}

.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-row select,
.form-row input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    box-sizing: border-box;
}

#search-button {
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 40%;
    border-radius: 5px;
    border: none;
    background-color: #676967;
    font-size: 16px;
    cursor: pointer;
}

/* Footer Styles */

footer {
    background-color: #1A1818;
    color: #F7F2EF;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 0%;
    padding: 0px;
    display: flex;
}

footer p {
    font-size: 16px;
    line-height: 1.5;
}

.containerFooter {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: #F7F2EF;
    margin-top: 15px;
    margin-left: 50px;
}

.boxFooter {
    flex: 1;
    background-color: #1A1818;
    margin-right: 50px;
}

/* Additional Styles */

.custom-heading {
    /* Add any custom heading styles here */
}

/* Adjust any other existing styles based on your design preferences */
