body {
    margin: 0;
    padding: 0;
  }
  
  footer {
    height: 360px;
    background-color: #1a1818;
    color: #fff;
    padding: 20px;
  }
  
  .footer-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    flex: 1;
    margin: 0 20px 0 0;
    text-align: center;
  }
  
  h3 {
    color: #fff;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  