body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

article {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 130px 0 0 0;
  margin-bottom: 0;
  height: 47vh;
}

/*settings when element is clicked(active)*/
.ud_active {
  background: aqua;
  color: black;
  padding: 4% 0 4% 4%;
  border-radius: 0 0 0 0;
}


/*general settings for dd*/
dt {
  font-family: "Oswald", sans-serif;
  background: #00C9FF;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #222;
  cursor: pointer;
  text-transform: capitalize;
  justify-content: space-between;
  display: inline-flex;
  transition: all 300ms;
  -webkit-transition: all 300ms;

}


/*when you hover over the elements*/
dt:hover {
  background: aqua;
  color: black;
}

dt,
dd {
  width: 96%;
  float: left;
  padding: 2%;
  margin: 0;
}

dt:last-of-type {
  border-radius: 0 0 20px 20px;
}

dt:last-of-type.ud_active {
  border-radius: 0;
}

dd:last-child {
  border-radius: 0 0 20px 20px;
}

/*general settings for dd*/
dd {
  background: #ffffff;
  line-height: 25px;
  font-size: 16px;
  word-spacing: 3px;
  color: black;
  display: none;
}

dt:last-child {
  border-radius: 0 0 20px 20px;
}

/*booking detail names container*/
.onTopContainer {
    margin: 0;
    display: flex;
    padding: 15px;
    background: #00C9FF;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #222;
    justify-content: space-between; /* Gleichmäßiger Abstand zwischen den Elementen */
    width: 97%; /* Füllt die gesamte Breite der Klasse aus */
    text-transform: capitalize;
    border-radius: 20px 20px 0 0;
  }
  
.onTopContainer h3 {
    margin: 0;
  }

/* headline with gradient underlining */
h1 {
  color: #f7f2ef;
  font-size: 35px;
  align-items: center;
  background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 34%, transparent 34%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  line-height: 42px;
  margin-bottom: 20px;
  margin-top: -70px;
}

.pagination {
  display: inline-block;
  margin-top: 15px;
  justify-content: center;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}