/* Homepage: */
/* Hintergrundbild anzeigen */
.BackgroundAudi {
    /* backround settings */
    background-image: url('../images/Hintergrund.svg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 800px;
    /* content settings */
    justify-content: center;
    align-items: center;
    display: flex;
    background-attachment: fixed;
}

/* Buchungsformular erstellen */
/* .divBookingform {
  width: 100%;
} */
.containerBookingForm {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    color: #F7F2EF;
    background: rgba(14, 14, 14, 0.58);
    padding: 20px;
}


.divPrices {
    float: left;
    text-align: center;
    background: rgba(14, 14, 14, 0.58);
    padding: 20px;
    margin-top: 300px;
}

  /* Table Style */
.tablePrice {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style of table header and table data */
th, td {
    padding: 15px;
  }