/* style Filter und Ergebnisse */
.filterBox {
    float: left;
    width: 30%;
    height: 100vh;
    background-color: #aba6a1;
    margin-top: 80px;
}

.itemBox {
    height:fit-content;
}

.resultBox {
    float: left;
    width: 70%;
    height: 100vh;
    background-color: #2f2e2c;
    margin-top: 80px;
}
.resultItemBox {
    float: left;
    background-color: black;
    width: 400px;
    height: 400px;
    margin: 40px;
}