body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*article settings*/
article {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 200px 0 0 0;
}

/*settings when button is clicked*/
.ud_active {
  background: aqua;
  padding: 4% 0 4% 4%;
  color: black;

}

/*settings fpr smooth open*/
dt {
  transition: all 300ms;
  -webkit-transition: all 300ms;
}

dt,
dd {
  width: 96%;
  float: left;
  padding: 2%;
  margin: 0;
}

dt {
  background: #33455e;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #222;
  cursor: pointer;
}

dt:first-child {
  border-top: none;
}

dt:hover {
  background: aqua;
}


dd {
  font-family: "Lato", sans-serif;
  background: #ffffff;
  line-height: 25px;
  font-size: 16px;
  word-spacing: 3px;
  color: #999;
  display: none;
  color: black;
}

.dataBuchung {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 98%;
  display: flex;
  justify-content: space-around; /* Hier wurde der Raum zwischen den h4-Elementen gleichmäßig verteilt */
  align-items: center;
}

.onTopContainer {
  margin: 0;
}
  
