/* button back to product overview */
.buttonBack {
  background: transparent;
  position: absolute;
  border: none;
  height: 30px;
  opacity: 0.7;
  transform: scale(100%);
  font-weight: 600;
  color: var(--mainLight);
  padding: 0 15px;
  border-radius: 20px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-left: 25%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.buttonBack:hover {
  opacity: 1 !important;
  transform: scale(1.1);
}

.buttonBackContainer {
  width: 500px;
  position: relative;
  top: 120px;
  left: -60px;
}
/* Box which covers the entire Body */
.divbody {
  width: 90%;
  height: 850px;
  margin-top: 150px;
  margin-bottom: 10%;
  margin-left: 5%;
  border: 2px solid var(--accentColor);
  border-image: linear-gradient(to bottom, var(--accentColor), #92FE9D) 1;
  z-index: 1000;
  background: var(--mainDark);
}

/* Box which includes the Model and Pictureframe including details of selected car */
.divgallery {
  float: left;
  width: 50%;
  height: fit-content;
  margin-left: 2%;
  margin-bottom: 5%;
}

/* Box with Image and Imagedescription */
.foto {
  border: none;
  float: left;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70%;
  background-color: var(--mainBackgroundColor);
  border-radius: 30px;
}

/* triangle button to open toggle menu*/
.buttonToggle {
  background-color: var(--mainBackgroundColor);
  color: var(--accentColor);
  margin-left: 45%;
  margin-top: -1%;
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.3s;
}

/* Container of toggle button text */
.toggleText {
  margin-left: 30%;
  margin-top: -1%;
  margin-bottom: 1.5%;
}

/* when pointer hovers on toggle button */
.buttonToggle:hover {
  opacity: 1
}

/* toggle button rotation when clicked */
.rotated {
  transform: rotate(180deg);
}

/* Image Box */
div.foto img {
  width: 100%;
  line-height: normal;
}

/* Image descriptionbox */
.desc {
  text-align: center;
  height: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 20px;
  color: #1a1818;
  background: linear-gradient(to bottom, var(--mainBackgroundColor), rgb(18, 162, 162));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 1px 0 rgba(0, 0, 0, 0.19);
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


/* Table which is included in the image description box */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0%;
}

table,
th,
td {
  border: none;
  padding: 15px;
  text-align: left;
  width: 100%;
  color: #1a1818;
}

/* Style of table header and table data */
th,
td {
  width: 30%;
}

/* box on the right side with Selected information summarized */
.divinfo {
  float: left;
  width: 43%;
  text-align: left;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  margin-top: 5.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5%;
  background-color: var(--mainBackgroundColor);
  border-radius: 30px;
  align-content: center;
}

/* Box for buttons .button, .buttonNotSignedIn and  */
.divbutton {
  float: right;
  width: 20%;
  margin-right: 4.5%;
  margin-top: -2%;
  text-align: center;
}

/* Button style if user is logged in and old enough to book the car */
.button {
  float: right;
  width: 100%;
  height: 60px;
  margin-right: 50%;
  margin-top: -2%;
  background: var(--mainGradient);
  border: none;
  opacity: 0.5;
  transform: scale(100%);
  font-weight: 600;
  color: #1a1818;
  padding: 0 15px;
  border-radius: 20px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}

/* Button if user is not logged in*/
.buttonNotSignedIn {
  float: right;
  background: var(--accentColor);
  border: none;
  width: 100%;
  height: 60px;
  margin-right: 50%;
  margin-top: -2%;
  opacity: 0.5;
  transform: scale(100%);
  font-weight: 600;
  color: #1a1818;
  padding: 0 15px;
  border-radius: 20px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

/* Style if pointer hovers on Button if user is not logged in */
a:hover.buttonNotSignedIn {
  color: #1a1818;
  text-decoration: none;
  font-size: 16px;
  opacity: 100%;
}

/* If User is not Old enough: hover.buttonNotOldEnough */
.buttonNotOldEnough {
  float: right;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: grey;
  width: 60%;
  opacity: 50%;
  transform: scale(150%);
  font-weight: 600;
  color: #1a1818;
  padding: 15px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-right: 50%;
  margin-top: -2%;
  cursor: not-allowed;
}

/* If User is not Old enough and hovers on button */
a:hover.buttonNotOldEnough {
  color: #1a1818;
  text-decoration: none;
  font-size: 16px;
}

a:hover.button {
  color: #1a1818;
  text-decoration: none;
  font-size: 16px;
  opacity: 100%;
}

/* Modal-Box */
/* Modalbox background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.561);
}

/* Modal Content */
.modal-content {
  background-color: #1a1818;
  margin-top: 20%;
  margin-left: 35%;
  padding: 20px;
  border: 1px solid aqua;
  width: 600px;
  height: 325px;
  text-align: center;
}

/* Modal-Box style for <span> with X to close modal */
.close {
  cursor: pointer;
  float: right;
}

/* h1 style for X to close modal */
.close h1 {
font-weight: 500;
margin-top: -10px;
}

/* style <h3> */
.booking-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
}

/* style <p> */
.booking-details {
  font-size: 22px; 
  margin-top: 40px;
}

/* Style for <form> in modal */
.modalForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Box for buttons within the bookingform*/
.buttondiv {
  padding-top: 5px !important;
  width: 100%; 
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

/* style button "Jetzt Buchen" in bookingform */
.buttonModal {
  width: 50% !important;
  border: none !important;
  transform: scale(100%) !important;
  color: #f7f2ef !important;
  font-size: 20px !important;
  cursor: pointer !important;
  transition: transform 0.5s ease !important;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif !important;
}

.buttonModal:hover {
  color: aqua !important;
  transform: scale(1.1) !important;
  background-color: transparent !important;
  margin-left: none !important;
  padding-left: none !important;
}

/* style button "Buchung abbrechen" in bookingform */
.buttonModalLink {
  width: 80% !important;
  height: 50px !important;
  border: none !important;
  color: #f7f2ef !important;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: transform 0.5s ease !important;
  background-color: transparent !important;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.buttonModalLink:hover {
  color: aqua !important;
  background-color: transparent !important;
  margin-left: none !important;
  padding-left: none !important;
}

/* slider heading "Verwandte Autos zu dieser Buchung" */
.similarModels {
  text-align: center;
  background: transparent;
  margin-bottom: -100px;
  color: var(--mainLight);
}

/* slider box */
.cslider {
  background: linear-gradient(to bottom,#2f2e2c, #6b6b6b);
  color: var(--mainLight);
  padding: 200px 20px 0px 0px;
  position: relative;
  height: 375px;  
  margin-top: 10px;
  z-index: -1;
}

.cslider img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* text style  */
.cslider h3,
.cslider .h3,
.cslider .p,
.cslider a {
  color: var(--mainLight);
}

.cslider-carousel {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 144px;
  margin: 0 auto;
  max-width: 1400px;
  padding-bottom: 44px;
  position: relative;
  z-index: 0;
}

.cslider-item {
  left: 20%;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: opacity 150ms ease-in-out, width 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 150ms ease-in-out, width 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 150ms ease-in-out, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out;
  transition: opacity 150ms ease-in-out, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 10%;
  z-index: 0;
}

@media (min-width: 1200px) {
  .cslider-item {
      left: 5%;
  }
}

.cslider-item img {
  height: auto;
  max-height: 315px;
  max-width: 100%;
  width: auto;
}

.cslider-item-selected {
  opacity: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 300ms ease-in-out, -webkit-transform 300ms cubic-bezier(0.25, 0.75, 1, 1);
  transition: all 300ms ease-in-out, -webkit-transform 300ms cubic-bezier(0.25, 0.75, 1, 1);
  transition: all 300ms ease-in-out, transform 300ms cubic-bezier(0.25, 0.75, 1, 1);
  transition: all 300ms ease-in-out, transform 300ms cubic-bezier(0.25, 0.75, 1, 1), -webkit-transform 300ms cubic-bezier(0.25, 0.75, 1, 1);
  z-index: 2;
}

/* Media query for similar cars shown in slider, and speed of transition */
@media (min-width: 768px) {
  .cslider-item-selected {
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
  }
}

/* adjust slider size to min screen sizes if responsive design is used */
@media (max-width: 575px) {
  .cslider-item-selected {
      width: 50%;
  }
}

@media (min-width: 576px) {
  .cslider-item-selected {
      width: 40%;
  }
}

/* adjust slider size to max screen size if responsive design is used */
@media (max-width: 575px) {
  .cslider-item-previous,
  .cslider-item-next {
      opacity: 0;
  }
}

@media (max-width: 1680px) {
  .cslider-item-first,
  .cslider-item-last {
      opacity: 0;
  }
}

/* Transition and sizing of previous an next shown cars */
.cslider-item-previous,
.cslider-item-next {
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 20%;
  z-index: 1;
}

/* Transition and sizing of first and last car within the slider */
.cslider-item-first,
.cslider-item-last {
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 300ms, width 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 150ms ease-in-out 300ms, width 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 150ms ease-in-out 300ms, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out;
  transition: opacity 150ms ease-in-out 300ms, width 300ms ease-in-out, transform 300ms ease-in-out, left 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 10%;
}

/*  positioning of all shown cars */
.cslider-item-previous {
  left: 20%;
}

.cslider-item-next {
  left: 80%;
}

.cslider-item-first {
  left: 20%;
}

/* min width for first item shown */
@media (min-width: 1520px) {
  .cslider-item-first {
      left: 5%;
  }
}

.cslider-item-last {
  left: 80%;
}

/* min width for last item shown */
@media (min-width: 1520px) {
  .cslider-item-last {
      left: 95%;
  }
}

/* subtext of car when centered */
.cslider-text {
  height: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transition: height 0ms ease-in-out 300ms, opacity 225ms ease-in-out;
  transition: height 0ms ease-in-out 300ms, opacity 225ms ease-in-out;
  right: 0;
}

.cslider-item-selected .cslider-text {
  height: 150px;
  padding: 0;
  opacity: 1;
  -webkit-transition: height 0ms, opacity 300ms ease-in-out 300ms;
  transition: height 0ms, opacity 300ms ease-in-out 300ms;
}

/* prev. and next button */
.cslider-prev,
.cslider-next {
  border-style: solid;
  border-width: 0 4px 4px 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 28px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 28px;
  z-index: 2;
}

.cslider-prev {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 20px;
}

.cslider-next {
  right: 20px;
}