/* Allgemeine Einstellungen zu Schrift und Hintergrund */
body {
    font-family: "Montserrat", sans-serif;
    color: #f7f2ef;
    margin: 0;
    padding: 0;
    background-color: #2f2e2c;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #f7f2ef;
}

a:hover {
    /* Schriftfarbe noch aussuchen */
    color: aqua;
}


/* Header: */
/* Allgemeine Einstellungen zum Header */

    /* Einstellungen des Logos im Header */
.logobox {
  margin-left: 20px;
} 

/* Einstellungen der div's im Header */
.headerbox {
  float: left;
  margin-top: 10px;
}

/* Einstellungen des Logins im Header */
.loginbox {
  margin-right: 20px;
  margin-left: 200px;
}

#navbar {
    overflow: hidden;
    background-color: #525252;
    padding: 20px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    border-bottom: 2px solid aqua;
  }
  
  #navbar a {
    float: left;
    color: #f7f2ef;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 10px;
    border-radius: 4px;
    margin-left: 30px;
  }

  .navlink {
    background-color: #525252;
  }
  
  #navbar #logo {
    transition: 0.4s;
    max-height: 100px;
  }
  
  #navbar a:hover {
    background-color: #525252;
    color: aqua;
  }
  
  
  #navbar-right {
    float: right;
    margin-right: 50%;
    padding-top: 20px;
  }
  
  @media screen and (max-width: 100%) {
    #navbar {
      padding: 10px 5px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

  /* Underlined if hovered and active */
  .topnav {
    overflow: hidden;
    background-color: #525252;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f7f2ef;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid aqua;
    background-color: #525252;
  }
  
  .topnav a.active {
    border-bottom: 3px solid aqua;
  }

  .active {
    font-weight: medium bold;
    color: aqua; 
    border-bottom: 3px solid aqua;
    background-color: #525252;

}

/* Header angemeldet*/

/*Style des Hover-Menüs*/
.divhover {
  margin-right: 20px;
  margin-left: 200px;
  background-color: #525252 ;
}

.divhover a {
  text-decoration: none;
  color: #f7f2ef;
  font-size: 16px;
  padding: 15px;
  display:inline-block;
}
a:hover {
  color: aqua;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}


ul li {
  display: inline-block;
}

ul li:hover {
  background: #525252;
}

ul li:hover ul {
  display: block;

}
ul li ul {
position: absolute;
width: 200px;
display: none;
}

ul li ul li { 
  background: #525252;
  display: block; 
}
ul li ul li a {
  display:block !important;
} 




#header {
    background-color: #525252;
    padding: 50px 10px;
    color: #f7f2ef;
    text-align: center;
    font-size: 16px; 
    font-weight: medium bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    height: 80px;
    border-bottom: 2px solid aqua;
  } */

  .headerContainer {
    background-color: #525252;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 2px solid aqua;
    }



/* Footer: */
/* Allgemeine Einstellungen zum Footer */
.footercontainer {
    position: fixed;
    background-color: #1a1818;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 2px solid aqua;
}

/* Copyright mit Firmenname einfügen */
.footerboxCopyRight {
    font-weight: 100;
    margin-right:250px;
}

/* Einstellungen der div's im Footer */
.footerbox {
    float: left;
}

.datenschutz {
    float: left;
    margin-right:200px;
}

/* Settings Social Media Icons */
.instagram {
    width:27px;
    height:27px;
    padding-left:0px;
}

.x {
    width:30px;
    height:30px;
}

.facebook {
    width:22px;
    height:22px;
}

.instagram:hover, .x:hover, .facebook:hover{
    transform: scale(1.2);
}
