footer {
    width: 100%;
    height: 130px;
    background-color: #1A1818;
    position: fixed;
    bottom: 0; /* damit header direkt unten anliegt. ansonsten ist dort ein Abstand */
    left: 0; /* damit der header links keinen Abstand hat. anonsten ist dort ein abstand */
    display: flex; /* Füge Flexbox ein */
    justify-content: space-between; /* Elemente werden am Anfang und am Ende ausgerichtet, zentriert sie */
    align-items: center; /* Zentriert die Elemente vertikal */
    font-family: 'Montserrat', sans-serif;
  }



  /* Navigation Stile */

/* gesamte Navigationsleiste (allgemein) */
.navigation {
    list-style: none;
    display: flex;
    padding-right: 50px;
    margin-left: 30px;
    margin-top: 0px;
  }
  
  .navigation li {
    margin-right: 120px; /* Verschieben der Elemente der Navigationsleiste nach links */
    text-align: right;
    white-space: nowrap;
  }
  
  /* zur Veränderung der Links im Header bezüglich Aussehen */
  .navigation a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    position: sticky;
    padding: 10px;
  }
  
  
  /* Änderung der Farbe beim Herübergehen über die Links */
  .navigation a:hover { /* Farbe ändert sich zu rot, wenn man mit dem Mauszeiger über einen Hyperlink in Textform geht. Verbessert die Nutzererfahrung. */
    color: #FF0000; /* Rot Farbe für Hover-Effekt */
  }